<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='form[1].css') }}">
    <title>Form</title>
</head>

<body>
    <div class="layout">
       <h1>Enter Details of your e-Waste</h1>
       <form action="/get_credits/{{id}}" method="post">
        <h2>Category </h2>
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="category">
            <option selected>Choose one</option>
            <option value="Hard Drive">Hard Drive</option>
            <option value="Mobile"> Mobile</option>
            <option value="Computer">Computer</option>
            <option value="Printers">Printers</option>

          </select>
        <h2>Manufacturing year </h2>
        <input type="text" name="manufacturing_year" placeholder="2010">
        

        <h2>Model NO </h2>
        <input type="text" name="model_number" placeholder="02221">

        <h2>Device Brand</h2>
        <input type="text" name="device_brand" placeholder="Samsung">

        <h2>Device Name</h2>
        <input type="text" name="device_name" placeholder="Hard disk">

        <div class="form">
            <button type="submit"  value="Submit" class="btn">Procede For booking</button>
        </div><br>
       </form>
    </div>
    
    

</body>

</html>