<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mypro.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the World of e-waste</h1>
        <p>So, let’s together unravel the mysteries of e-waste, learn how to navigate its complexities,</p>
        <div class="items">
            <div class="item" id="item1">
                <div class="textbox">
                    <h4>E-Waste's Hidden Harm: Revealing the Numbers</h4>
                </div>
                <button class="buttons">Know More</button>
            </div>
            <div class="item" id="item2">
                <div class="textbox">
                    <h4>Every e-waste has a story to tell...</h4>
                </div>
                <button class="buttons">Know More</button>
            </div>
            <div class="item" id="item3">
                <div class="textbox">
                    <h4>About our Credit System!!</h4>
                </div>
                <button class="buttons">Know More</button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="contentside">
            <div class="para">
                <h2>E-Waste's Hidden Harm: Revealing the Numbers</h2>
                <p align="left">Let’s uncover the environmental footprint left by these e-wastes through some data</p>
                <ul>
                    <li>Energy Consumption:  Recycling e-waste requires substantial energy; recycling one million laptops can power over 3,500 homes for a year (U.S. EPA)</li>
                    <li>Toxic Chemical Release: E-waste releases toxic substances like lead, cadmium, and mercury into the environment, posing serious health and environmental risks.</li>
                    <li>Data Security Risks: Inadequate disposal can lead to data breaches; secure e-waste disposal is crucial to protect sensitive information, as highlighted by NIST.</li>
                    <li>Electronic Scrap Exportation: Illegally exporting e-waste to developing nations worsens pollution and health hazards, according to research by the Basel Action Network</li>
                    <li>Environmental Pollution: Improper e-waste disposal contaminates soil and water; for instance, soil lead levels in some areas can be 200-300 times higher than safe standards</li>
                    <li>Resource Depletion: Massive e-waste generation results in a loss of valuable resources, such as gold, silver, and palladium, which could otherwise be recycled</li>
                </ul>
            </div>
        </div>
        <div class="imageside">
            <img src="img5.jpg" alt="">
        </div>
    </div>
    <div class="content">
        <div class="imageside">
            <img src="/static/img/img1.jpg" alt="" id="img1">
        </div>
        <div class="contentside">
            <div class="para">
                <h2>Every e-waste has a story to tell. (uses)</h2>
                <p align="left">The future of our planet is digital, but our responsibility is analog</p>
                <ul>
                    <li>Extracting valuable metals like gold, silver, and copper from e-waste components for use in new electronics or jewellery. </li>
                    <li>Reusing functional components like processors, memory chips, and screens in refurbished devices. </li>
                    <li>Tinkering with e-waste components for DIY electronics projects, such as building robots, sensors, or experimental devices</li>
                    <li>Sending functional electronic devices to underserved communities in developing countries, helping bridge the digital divide.</li>
                    <li>Implementing techniques to recover valuable materials from e-waste, contributing to the concept of "urban mining</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="contentside">
            <div class="para">
                <h2>Earn Credit for responsible disposal</h2>
                <!-- <p align="left">Let’s uncover the environmental footprint left by these e-wastes through some data</p> -->
                <p>Well, you might be curious about the benefits you’ll reap!! Don’t worry your precious efforts can earn you valuable credits that you can leverage to get discount on your future purchases. We will reward you coupons from your hard-earned credits. These coupons will earn you exciting offers and savings so it’s a win-win situation. You are contributing towards a greener earth and enjoying cost effective shopping so join us in this eco-conscious journey!!
                    You must be wondering what you will get from all this!! How is this useful to you so don’t worry you can earn credits for each responsible disposal and can use that credits to take discount in further purchasing of some products. We will provide you the coupans from your earn credits from which you can get exciting offers on buying products in future. 
                    </p>
            </div>
        </div>
        <div class="imageside">
            <img src="/static/img/img7.jpeg" alt="" id="img7">
        </div>
    </div>
</body>
</html>