<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>credits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='credit.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Handjet&family=Raleway:wght@300&family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="imgg">
            <img src="img/images-removebg-preview.png" >
            <h1>Wallet</h1>
        </div>
        <div class="sub">
            <!-- <img src="img/coin-removebg-preview.png" style="margin: 20px 80px;"> -->
            <div class="sub1">
                <h2 style="color: rgb(217, 160, 28);">Total Wallet Balance</h2>
                <h1>{{credit}} Credits</h1>
            </div>
        </div>
        <!-- <button class="btn">Use your credits now</button> -->
    </div>
 
</body>

</html>